//! **************************************************************************
// Written by: Map P.58f on Mon Sep 10 12:41:09 2018
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "tecladoOut<0>" LOCATE = SITE "L13" LEVEL 1;
COMP "tecladoOut<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "tecladoOut<2>" LOCATE = SITE "H18" LEVEL 1;
COMP "tecladoOut<3>" LOCATE = SITE "N17" LEVEL 1;
COMP "sseg<0>" LOCATE = SITE "B4" LEVEL 1;
COMP "sseg<1>" LOCATE = SITE "A4" LEVEL 1;
COMP "sseg<2>" LOCATE = SITE "D5" LEVEL 1;
COMP "sseg<3>" LOCATE = SITE "C5" LEVEL 1;
COMP "sseg<4>" LOCATE = SITE "A6" LEVEL 1;
COMP "sseg<5>" LOCATE = SITE "B6" LEVEL 1;
COMP "sseg<6>" LOCATE = SITE "E7" LEVEL 1;
COMP "sseg<7>" LOCATE = SITE "F7" LEVEL 1;
COMP "reset" LOCATE = SITE "K17" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

