NET "clk" LOC = "C9" | IOSTANDARD = LVCMOS33 ;
NET "reset" LOC = "K17" | IOSTANDARD = LVCMOS33 | PULLUP ;

NET "sseg(0)" LOC = "B4" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "sseg(1)" LOC = "A4" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "sseg(2)" LOC = "D5" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "sseg(3)" LOC = "C5" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "sseg(4)" LOC = "A6" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "sseg(5)" LOC = "B6" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "sseg(6)" LOC = "E7" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "sseg(7)" LOC = "F7" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;

NET "tecladoOut(0)" LOC = "L13" | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "tecladoOut(1)" LOC = "L14" | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "tecladoOut(2)" LOC = "H18" | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "tecladoOut(3)" LOC = "N17" | IOSTANDARD = LVCMOS33 | PULLUP ;